<h1>TimeTracker Angular</h1>

<div class="form-container">
  <form>
    <!-- <div class="form-row"> -->
      <div class="form-group">
        <label for="email">Email address</label>
        <input [(ngModel)]="this.newRecord.email" placeholder="email" type="email" class="form-control" id="email"
          aria-describedby="emailHelp" name="email">
      </div>
      <div class="form-group">
        <label for="start">Start</label>
        <input [(ngModel)]="this.newRecord.start" type="datetime-local" class="form-control" id="start" name="start">
        <!-- <dl-date-time-picker id="starttime" name="starttime" startView="day" maxView="year" minView="minute" minuteStep="5"
          [(ngModel)]="this.newRecord.start">
        </dl-date-time-picker> -->
      </div>
      <div class="form-group">
        <label for="end">End</label>
        <input [(ngModel)]="this.newRecord.end" type="datetime-local" class="form-control" id="end" name="end">
        <!-- <dl-date-time-picker id="endtime" name="endtime" startView="day" maxView="year" minView="minute" minuteStep="5"
          [(ngModel)]="this.newRecord.end">
        </dl-date-time-picker> -->
      </div>
    <!-- </div> -->
    <button class="btn btn-primary" (click)="onPublishRecord($event)">Add</button>
  </form>
</div>


<div class="form-container">
  <form>
    <div class="form-group">
      <label for="emailSearch">Find By Email</label>
      <input [(ngModel)]="emailFilter" type="text" class="form-control" id="emailSearch" aria-describedby="emailHelp"
        name="emailFilter">
    </div>
    <button class="btn btn-primary" (click)="onGetByEmail($event)">Filter</button>
  </form>
</div>

<div class="table-container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Start</th>
        <th scope="col">End</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of records; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{record.email}}</td>
        <td>{{record.start}}</td>
        <td>{{record.end}}</td>
      </tr>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $(".form_datetime").datetimepicker({
    format: "dd.MM.yyyy HH:mm"
  });
</script>